.main-page-banner {
    background: #000;
    padding: 60px 0 110px;
}

.main-page-banner h1 {
    font-family: 'Helvetica Now Text';
    font-weight: 800;
    color: #fff;
    font-size: 70px;
    letter-spacing: -2px;
    line-height: 70px;
    margin-bottom: 40px;
    position: relative;
    padding-right: 75px;
}

.main-page-banner h1:after {
    content: '';
    background: url(../images/top-back-img.jpg) no-repeat right top;
    width: 69px;
    height: 102px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 0;
}

.main-page-banner p {
    font-family: 'Chronicle Display';
    font-weight: normal;
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    width: 60%;
    margin-bottom: 0;
    position: relative;
    z-index: 11;
}

.work-content-wrapper {
    padding-bottom: 120px;
}

.slider-outer-wrapper {
    margin-top: 90px;
}

.slider-outer-wrapper .reverse-direction {
    flex-direction: row-reverse;
}

.project-info-detail {
    background: #000;
    border: 1px solid #979797;
    position: relative;
    z-index: 100;
    padding: 80px 50px 80px 100px;
}

.reverse-direction .project-info-detail {
    padding: 80px 100px 80px 50px;
}

.project-image-slider-wrapper {}

.project-image-detail {
    position: absolute;
    left: 0;
    z-index: 110;
    width: 550px;
    margin-top: 50px;
}

.reverse-direction .project-image-detail {
    left: auto;
    right: 0;
}

.project-image-container .slide-content img {
    width: 100%;
}

ul.content-list-detail {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.content-list-detail li {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
}

ul.content-list-detail li:first-child {
    padding-top: 0;
}

ul.content-list-detail li .left-detail-heading {
    text-align: left;
    width: 100%;
    max-width: 50%;
    padding-right: 30px;
    font-family: 'Helvetica Now Text';
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.71px;
    color: #fff;
}

ul.content-list-detail li .right-content-text {
    max-width: 50%;
    width: 100%;
    text-align: left;
    font-family: 'Helvetica Now Text';
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.71px;
    color: #fff;
}

ul.content-list-detail li a {
    color: #fff;
}

.slick-nav {
    float: left;
}

.reverse-direction .slick-nav {
    float: right;
}

.slick-nav .slick-arrow {
    background: transparent;
    border: 2px solid #000;
    box-shadow: none !important;
    outline: none !important;
    padding: 8px 14px;
    margin: 0 0 0 15px;
    cursor: pointer;
}

.reverse-direction .slick-nav .slick-arrow {
    margin: 0 15px 0 0;
}

.slick-nav .slick-arrow .fa {
    font-size: 20px;
}

.slick-dots-box {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    overflow: hidden;
    max-width: 300px;
}

.reverse-direction .slick-dots-box {
    margin-left: 0;
    margin-right: 30px;
    float: right;
}

ul.slick-dots {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

ul.slick-dots li+li {
    margin-left: 10px;
}

ul.slick-dots li.slick-active button {
    background: #000;
}

ul.slick-dots li button {
    background: #cacaca;
    border: 0 none;
    height: 4px;
    width: 20px;
    font-size: 0;
    display: block;
    padding: 0;
    cursor: pointer;
}

.testimonial-outer-wrapper {
    padding-bottom: 120px;
    background: #000;
}

.testimonial-outer-box {
    margin-top: 90px;
}

.testimonial-outer-box:first-child {
    margin-top: 0;
}

.testimonial-outer-box .reverse-section {
    flex-direction: row-reverse;
}

.testi-video-wrapper {
    position: absolute;
    left: 15px;
    z-index: 110;
    width: 550px;
    top: 50%;
    margin-top: -169px;
}

.testimonial-outer-box .reverse-section .testi-video-wrapper {
    left: auto;
    right: 15px;
}

.testi-video-wrapper video.testimonial-video {
    width: 100%;
    height: 338px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}

.testi-content-part .testi-text-wrapper {
    background: #fff;
    position: relative;
    z-index: 100;
    padding: 80px 50px 80px 100px;
}

.testimonial-outer-box .reverse-section .testi-content-part .testi-text-wrapper {
    padding: 80px 100px 80px 50px;
}

.testi-content-inner {
    padding: 50px 0 0 50px;
    background: url(../images/comma-img.png) no-repeat 0 0;
}

.testi-content-inner p {
    font-family: 'Chronicle Display';
    font-weight: normal;
    font-size: 25px;
    line-height: 1.5;
    color: #6B6B6B;
    margin-bottom: 0;
}

.testi-content-inner .author-name {
    font-family: "NorthwellAlt";
    font-weight: normal;
    font-size: 50px;
    line-height: 1.5;
    color: #000;
    transform: rotate(-10deg);
    margin-top: 20px;
}

.testi-content-inner .author-info-list {
    margin-top: 20px;
}

.testi-content-inner .author-info-list h6 {
    font-family: 'Chronicle Display';
    font-weight: bold;
    color: #000;
    margin-bottom: 0;
    font-size: 25px;
    line-height: 1.4;
}

.testi-content-inner .author-info-list p {
    font-family: 'Chronicle Display';
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;
    color: #949494;
    margin-bottom: 0;
}

.block-main-outer {
    background: #000;
}

.video-blog-inner {
    max-width: 581px;
    width: 100%;
    margin-top: 90px;
}

.no-top-margin {
    margin-top: 0 !important;
}

.video-blog-inner .blog-video {
    width: 100%;
    height: 334px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.blog-video-wrapper {
    position: relative;
    z-index: 5;
}

.blog-content-wrapper {
    position: relative;
    z-index: 4;
    padding: 0 15px;
    margin-top: -10px;
}

.blog-content-wrapper .blog-content-inner {
    background: #fff;
    padding: 45px 40px 40px;
}

.block-main-outer {
    padding-bottom: 120px;
}

.blog-content-inner .blog-tech-row {
    font-family: 'Chronicle Display';
    font-weight: normal;
    font-size: 16px;
    line-height: 1.4;
    color: #7D7D7D;
}

.blog-content-inner .blog-tech-row span {
    font-family: 'Helvetica Now Text';
    text-transform: uppercase;
}

.blog-content-inner h2 {
    font-family: 'Helvetica Now Text';
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    letter-spacing: -1.14px;
    color: #000;
    margin-top: 5px;
    margin-bottom: 10px;
}

.blog-content-inner .blog-posted-by {
    font-family: 'Chronicle Display';
    font-weight: normal;
    font-size: 18px;
    line-height: 1.4;
    color: #7D7D7D;
}

@media (max-width: 1199.98px) {
    .main-page-banner h1 {
        font-size: 65px;
        line-height: 1;
        letter-spacing: normal;
    }
    .main-page-banner p {
        width: 70%;
    }
    .project-image-detail {
        width: 400px;
        margin-top: 30px;
    }
    .project-info-detail {
        padding: 50px 50px 50px 100px;
    }
    .reverse-direction .project-info-detail {
        padding: 50px 100px 50px 50px;
    }
    ul.content-list-detail li .left-detail-heading {
        font-size: 18px;
        line-height: 1.2;
    }
    ul.content-list-detail li .right-content-text {
        font-size: 16px;
        line-height: 1.2;
    }
    ul.content-list-detail li {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .slick-dots-box {
        margin-left: 15px;
    }
    .reverse-direction .slick-dots-box {
        margin-right: 15px;
    }
    .testi-video-wrapper {
        width: 475px;
        margin-top: -147px;
    }
    .testi-video-wrapper video.testimonial-video {
        height: 294px;
    }
    .video-blog-inner .blog-video {
        height: 290px;
    }
}

@media (max-width: 991.98px) {
    .main-page-banner h1 {
        font-size: 55px;
    }
    .main-page-banner p {
        width: 100%;
        font-size: 25px;
    }
    ul.content-list-detail li .left-detail-heading {
        font-size: 16px;
    }
    ul.content-list-detail li .right-content-text {
        font-size: 14px;
    }
    .testi-video-wrapper {
        width: 350px;
        margin-top: -108px;
    }
    .testi-video-wrapper video.testimonial-video {
        height: 216px;
    }
    .testi-content-part .testi-text-wrapper {
        padding: 40px 40px 40px 60px;
    }
    .testimonial-outer-box .reverse-section .testi-content-part .testi-text-wrapper {
        padding: 40px 60px 40px 40px;
    }
    .testi-content-inner {
        background-size: 30px auto;
        padding: 40px 0 0 40px;
    }
    .testi-content-inner p {
        font-size: 20px;
    }
    .testi-content-inner .author-info-list h6 {
        font-size: 20px;
    }
    .testi-content-inner .author-info-list p {
        font-size: 16px;
    }
    .testi-content-inner .author-name {
        font-size: 35px;
    }
    .video-blog-inner .blog-video {
        height: 230px;
    }
    .blog-content-wrapper .blog-content-inner {
        padding: 35px 30px 30px;
    }
    .blog-content-inner .blog-tech-row {
        font-size: 14px;
    }
    .blog-content-inner h2 {
        font-size: 22px;
    }
    .blog-content-inner .blog-posted-by {
        font-size: 16px;
    }
}

@media (max-width: 767.98px) {
    .main-page-banner h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .main-page-banner h1:after {
        top: 0;
    }
    .main-page-banner p {
        font-size: 18px;
        line-height: 1.4;
    }
    .main-page-banner {
        padding: 60px 0;
    }
    .work-content-wrapper {
        padding-bottom: 90px;
    }
    .slider-outer-wrapper .reverse-direction {
        flex-direction: column;
    }
    .slider-outer-wrapper {
        margin-top: 60px;
    }
    .project-image-detail,
    .reverse-direction .project-image-detail {
        position: relative;
        left: auto;
        right: auto;
        margin-top: 0;
        width: 100%;
        max-width: 600px;
        display: inline-block;
    }
    .project-image-slider-wrapper {
        text-align: center;
        margin-bottom: 30px;
    }
    .slider-outer-wrapper>.row {
        margin-left: 0;
        margin-right: 0;
    }
    .work-content-wrapper .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .work-content-wrapper .container .row {
        margin-left: 0;
        margin-right: 0;
    }
    .work-content-wrapper .container .row .col-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .work-content-wrapper .container .row .col-12.project-image-slider-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
    .project-info-detail,
    .reverse-direction .project-info-detail {
        padding: 50px;
    }
    .slick-nav {
        width: 100%;
    }
    .slick-nav .slick-arrow.prev {
        float: left;
    }
    .slick-nav .slick-arrow.prev2 {
        float: left;
        margin-left: 15px;
        margin-right: 0;
    }
    .slick-nav .slick-arrow.next {
        float: right;
        margin-left: 0;
        margin-right: 15px;
    }
    .slick-nav .slick-arrow.next2 {
        float: right;
        margin-right: 15px;
    }
    .slick-dots-box,
    .reverse-direction .slick-dots-box {
        float: left;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 15px;
    }
    ul.slick-dots {
        justify-content: center;
    }
    .slick-nav .slick-arrow .fa {
        font-size: 16px;
    }
    .testimonial-outer-wrapper {
        padding-bottom: 90px;
    }
    .testimonial-outer-box {
        margin-top: 60px;
    }
    .testi-video-wrapper,
    .testimonial-outer-box .reverse-section .testi-video-wrapper {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        margin-top: 0;
        width: 100%;
        max-width: 600px;
        display: inline-block;
    }
    .testi-video-part {
        text-align: center;
        margin-bottom: 20px;
    }
    .testimonial-outer-box>.row {
        margin-left: 0;
        margin-right: 0;
    }
    .testimonial-outer-wrapper .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .testimonial-outer-wrapper .container .row {
        margin-left: 0;
        margin-right: 0;
    }
    .testimonial-outer-wrapper .container .row .col-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .testimonial-outer-wrapper .container .row .col-12.testi-video-part {
        padding-left: 30px;
        padding-right: 30px;
    }
    .testi-video-wrapper video.testimonial-video {
        height: 350px;
    }
    .testi-content-part .testi-text-wrapper,
    .testimonial-outer-box .reverse-section .testi-content-part .testi-text-wrapper {
        padding: 50px;
    }
    .testi-content-inner .author-name {
        font-size: 40px;
        margin-top: 10px;
    }
    .testi-content-inner .author-info-list {
        margin-top: 30px;
    }
    .video-blog-inner {
        margin-top: 60px;
    }
    .video-blog-inner.mobile-new-margin {
        margin-top: 60px !important;
    }
    .video-blog-inner .blog-video {
        height: 315px;
    }
    .block-main-outer {
        padding-bottom: 90px;
    }
}

@media (max-width: 575.98px) {
    .main-page-banner h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .main-page-banner p {
        font-size: 14px;
    }
    .work-content-wrapper {
        padding-bottom: 60px;
    }
    .project-info-detail,
    .reverse-direction .project-info-detail {
        padding: 50px 40px;
    }
    ul.content-list-detail li {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    ul.content-list-detail li .left-detail-heading {
        font-size: 14px;
    }
    ul.content-list-detail li .left-detail-heading {
        max-width: 50%;
        max-width: 125px;
    }
    ul.content-list-detail li .right-content-text {
        max-width: 50%;
        max-width: calc(100% - 125px);
    }
    .slick-nav .slick-arrow {
        padding: 5px 11px;
    }
    .testimonial-outer-wrapper {
        padding-bottom: 60px;
    }
    .testi-content-part .testi-text-wrapper,
    .testimonial-outer-box .reverse-section .testi-content-part .testi-text-wrapper {
        padding: 40px 30px;
    }
    .testi-content-inner p {
        font-size: 15px;
    }
    .testi-content-inner .author-name {
        font-size: 30px;
    }
    .testi-content-inner .author-info-list {
        margin-top: 15px;
    }
    .testi-content-inner .author-info-list h6 {
        font-size: 15px;
    }
    .testi-content-inner .author-info-list p {
        font-size: 12px;
    }
    .testi-video-wrapper video.testimonial-video {
        height: 250px;
    }
    .testi-content-inner {
        background-size: 20px auto;
        padding: 28px 0 0 28px;
    }
    .video-blog-inner .blog-video {
        height: 250px;
    }
    .blog-content-wrapper .blog-content-inner {
        padding: 25px 20px 20px;
    }
    .block-main-outer {
        padding-bottom: 60px;
    }
}

@media (max-width: 320.98px) {
    ul.content-list-detail li .left-detail-heading,
    ul.content-list-detail li .right-content-text {
        font-size: 12px;
    }
    ul.content-list-detail li .left-detail-heading {
        max-width: 100px;
        padding-right: 20px;
    }
    ul.content-list-detail li .right-content-text {
        max-width: calc(100% - 100px);
    }
    .testi-video-wrapper video.testimonial-video {
        height: 180px;
    }
    .video-blog-inner .blog-video {
        height: 180px;
    }
}